/* import fonts from google fonts  */
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Source+Serif+Pro');

.App {
  font-family: 'Source Serif Pro', serif;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 130px 90px 1234px 100px;

  grid-template-areas:
  "h h h h"
  "r m m m"
  "r m m m"
  "f f f f";
}

.App-header {
  background-color: orange;
  grid-area: h;
}

h1 {
  font-family: 'Averia Libre', cursive;
  /* text-align: center; */
  font-size: 30pt;
  padding-left: 2%;
  /* float:left; */
  /* display: inline-block; */
  margin: 20px;

}

.list-body {
  background-color: tan;
  grid-area: r;
  overflow:scroll;
}


footer {
  background-color: green;
  grid-area: f;
}

/*   Search bar   */
.search-bar-body {
  padding: 5%;
  background-color: lightblue;
}

h2 {
  font-size: 10pt;
  padding: 8%;

}

.search-bar-content {
  font-size: 10pt;
  padding: 2%;
  margin-left: 2%;
  height: 5%;
}

#search-location-text {
  display: inline-block;
  font-size: 8pt;
  padding: 8px;
  /* line-height: 40pt; */
  margin-right: 5%;
  margin-bottom: 10%;
  width: 60px;
  border: none;
  /* height: 10px; */
}

.results-title h2 {
  font-size: 10pt;
  padding-bottom: 0%;
  margin-left: 5%;
}

/*   Results List   */
ol {
  padding: 5%;
}

.list-item {
  font-weight: bold;
  list-style: none;
  margin: 4%;
  padding: 2%;
  margin-bottom: 20%;
  font-size: 8pt;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  cursor: pointer;
}


@media only screen and (min-width: 1024px) {

  h1 {
    font-family: 'Averia Libre', cursive;
    /* text-align: center; */
    font-size: 50pt;
    padding-left: 2%;
    /* float:left; */
    /* display: inline-block; */
    margin: 20px;

  }


    .map-body {
      visibility: visible;
      background-color: pink;
      grid-area: m;
      position: relative;
    }

    .search-bar-body {
      padding: 1% 0% 2% 2%;
      background-color: lightblue;
    }

    h2 {
      font-size: 15pt;
      margin: 0;
    }

    .search-bar-content {
      font-size: 20pt;
      padding: 2%;
      margin-left: 2%;
      height: 20%;
    }


    #search-location-text {
      display: inline-block;
      font-size: 10pt;
      padding: 10px;
      /* line-height: 40pt; */
      margin-right: 5%;
      width: 200px;
      border: none;
      /* height: 10px; */
    }

  ol{
    padding: 5%;
    margin-top: 0;
  }

  .results-title h2 {
    font-size: 20pt;
    padding: 2%;
    margin-left: 5%;
    padding-bottom: 0;
  }

  .list-item {
    text-align: center;
    font-weight: bold;
    list-style: none;
    padding-top: 5%;
    /* margin-left: 0; */
    margin: 5%;
    /* margin-right: 10%; */
    font-size: 10pt;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
  }
}
